html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a,
a:hover {
  text-decoration: none; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none !important; }

body {
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased; }

button,
input[type=cancel],
input[type=reset],
input[type=submit]:hover {
  cursor: pointer; }

input[type=file],
input[type=password],
input[type=submit],
input[type=text],
input[type=email],
input[type=search],
textarea,
select {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: auto; }

select::ms-expand {
  display: none; }

input::-ms-clear {
  display: none; }

/**************
END RESETT CSS
****************/
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat/Montserrat-Black.woff") format("woff");
  font-style: normal;
  font-weight: 900;
  font-display: swap; }
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat/Montserrat-ExtraBold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
  font-display: swap; }
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat/Montserrat-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap; }
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat/Montserrat-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap; }
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat/Montserrat-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap; }
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat/Montserrat-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap; }
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat/Montserrat-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap; }
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat/Montserrat-Thin.woff") format("woff");
  font-style: normal;
  font-weight: 200;
  font-display: swap; }
:root {
  --birusa: #2E8E8D;
  --yellow: #FDDC00;
  --yellow-darken: #CEAD2A;
  --pink: #B46F8E;
  --link-darken: #DC1C4C;
  --grey-text: #314858;
  --blue: #415CC3;
  --green: #7C935F; }

html,
body {
  min-height: 100%; }

html {
  font-size: 10px; }

body {
  background-color: #0E1B21;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem; }

img {
  max-width: 100%; }

a {
  color: currentColor;
  -webkit-transition: all .2s;
  transition: all .2s; }

h1,
.h1 {
  font-size: 7rem; }

h2,
.h2 {
  font-size: 6rem; }

h3,
.h3 {
  font-size: 3rem; }

.h4 {
  font-size: 2rem; }

.font-900 {
  font-weight: 900; }

.font-800 {
  font-weight: 800; }

.font-700,
b,
strong {
  font-weight: 700; }

p {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 180%; }
  p:not(:last-child) {
    margin-bottom: 1.3em; }
  p a {
    color: var(--blue); }
    p a:hover {
      color: currentColor; }

.text-center {
  text-align: center; }

.text-uppercase {
  text-transform: uppercase; }

.container {
  width: 100%;
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 10px; }
  .container--full {
    max-width: 95%; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.svg-sprite {
  display: none; }

.social li:not(:last-child) {
  margin-right: 6rem; }
.social li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700; }
  .social li a .icon {
    margin-right: 1em; }
    .social li a .icon img {
      width: 3rem;
      height: 3rem;
      -o-object-fit: contain;
         object-fit: contain; }

.yellow {
  color: var(--yellow); }

.yellow--dark {
  color: var(--yellow-darken); }

.pink {
  color: var(--pink); }

.birusa {
  color: var(--birusa); }

.title {
  font-size: 6rem;
  line-height: 1.3;
  margin-bottom: 0.25em; }
  .title--center {
    text-align: center; }
  .title .h2 {
    font-size: 1em; }
  .title .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-bottom: 0.15em; }
    .title .icon img {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
         object-fit: contain; }

.top-screen {
  background: url("../img/bg/top-bg.jpg") 0 0 no-repeat;
  background-size: cover;
  font-size: 1rem;
  padding-top: 7em; }

.top-screen__img {
  line-height: 0; }

.about {
  padding: 8rem 0;
  background: #32210A url("../img/bg/brown_dark_pattern.jpg"); }
  .about__descr {
    width: 45%; }
  .about__img {
    width: 45%; }

.features-container {
  background: url(../img/bg/BG.svg) 0 0 no-repeat, url("../img/bg/features_money_bottom.png") 0 100% no-repeat;
  background-size: cover, contain;
  position: relative; }
  .features-container::before {
    content: '';
    width: 24rem;
    height: 73rem;
    background: url("../img/bg/pants.png") 0 0 no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

.why {
  padding: 8rem 0 6rem; }
  .why .title {
    margin-bottom: 1.1em; }

.why-list {
  margin: 2.2rem; }
  .why-list li {
    width: 33.3333%;
    padding: 0 2.2rem; }

.why-list__item {
  height: 100%;
  position: relative; }
  .why-list__item::after {
    content: '';
    width: 93%;
    height: 100%;
    border-radius: 4rem;
    background: rgba(46, 142, 141, 0.5);
    position: absolute;
    left: 50%;
    top: -1.2rem;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  .why-list__item--center::after {
    background-color: rgba(180, 111, 142, 0.5); }
  .why-list__item--center .why-list__item__content {
    border-color: var(--pink); }
  .why-list__item--reward::before {
    content: '';
    width: 15rem;
    height: 10rem;
    background: url("../img/decor/coin_1.png") 0 0 no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translate(45%, -45%);
            transform: translate(45%, -45%);
    z-index: 2; }
  .why-list__item__img {
    line-height: 0;
    height: 55%;
    position: relative; }
    .why-list__item__img img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: bottom;
         object-position: bottom; }
  .why-list__item__descr {
    height: 45%;
    background-color: #000;
    text-align: center;
    padding: 2rem 1.4rem; }
    .why-list__item__descr .h3 {
      font-size: 2.5rem;
      line-height: 130%;
      font-weight: 700;
      margin-bottom: 0.3em; }
    .why-list__item__descr p {
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 150%; }

.why-list__item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  border-radius: 4rem;
  border: 1rem solid var(--birusa);
  overflow: hidden;
  position: relative;
  z-index: 1; }

.art {
  padding: 5rem 0;
  position: relative; }
  .art__descr {
    width: 45%; }
  .art__accesories {
    width: 50%; }
    .art__accesories__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin: 0 -5px 1rem; }
      .art__accesories__list li {
        width: 25%;
        padding: 0 5px;
        margin-bottom: 1.5rem;
        position: relative; }
        .art__accesories__list li:nth-child(even) {
          top: 2rem; }
      .art__accesories__list__item__img {
        position: relative; }

.art-decor {
  position: absolute;
  top: 50%;
  width: 20rem;
  right: 2%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .art-decor__first {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    top: 15%; }
  .art-decor__second {
    -webkit-transform: scale(0.7) rotate(-55deg);
            transform: scale(0.7) rotate(-55deg);
    top: 38%;
    left: 10rem; }
  .art-decor__third {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    bottom: 17%; }

[class^='art-decor__'] {
  position: absolute; }

.art__accesories__list__item__count {
  position: absolute;
  bottom: 17%;
  right: 19%;
  font-size: 2rem;
  font-weight: 700; }

.art__accesories__notice {
  font-size: 12px;
  font-weight: 600;
  color: var(--grey-text);
  line-height: 150%;
  text-align: right; }

.graphic {
  padding: 4rem 0 6rem; }
  .graphic .title {
    margin-bottom: .5em; }
  .graphic__left {
    width: 45%; }
  .graphic__right {
    width: 47%;
    position: relative;
    line-height: 0; }
    .graphic__right::after {
      content: '';
      width: calc(100% + 1rem);
      height: 2rem;
      background: url("../img/decor/decor_line.png") center 100% no-repeat;
      position: absolute;
      background-size: contain;
      bottom: -.5rem;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }

.graphic__content {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.about-token {
  padding: 5rem 0; }

.about-token__content {
  border: 1rem solid var(--birusa);
  border-radius: 4rem;
  background: #000 url("../img/bg/token_bg.png") 100% 0 no-repeat;
  background-size: contain;
  padding: 10rem 4rem; }
  .about-token__content__left {
    width: 45%;
    position: relative;
    top: -1.5rem; }
  .about-token__content__right {
    width: 50%; }
    .about-token__content__right .h4 {
      margin-bottom: 1em; }

.about-token__content__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700; }
  .about-token__content__list li:not(:last-child) {
    margin-bottom: 1.2em; }
  .about-token__content__list li .icon {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 2em;
    height: 2em;
    margin-right: 1em; }
    .about-token__content__list li .icon img {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
         object-fit: contain; }

.bonus__item {
  width: calc(50% - 2.5rem);
  border: 1rem solid var(--pink);
  border-radius: 4rem;
  padding: 6rem 5rem 6rem;
  background-color: #000;
  background-position: 0 100%;
  background-size: contain;
  margin-bottom: 5rem; }
  .bonus__item:first-child {
    background-image: url("../img/bg/bonus_1.png"); }
  .bonus__item:last-child {
    background-image: url("../img/bg/bonus_2.png"); }
  .bonus__item p {
    font-size: 1.5rem;
    font-weight: 600;
    color: #B1B1B1; }

.enough {
  padding-bottom: 5rem; }

.enough__content {
  padding: 7rem 5rem;
  border: 1rem solid var(--birusa);
  border-radius: 4rem;
  background-color: #000; }
  .enough__content .title {
    width: 47%; }
  .enough__content p {
    width: 50%; }

/*Header*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3rem 0;
  z-index: 1; }

/*Footer*/

/*# sourceMappingURL=style.css.map */