:root {
    --birusa: #2E8E8D;
    --yellow: #FDDC00;
    --yellow-darken: #CEAD2A;
    --pink: #B46F8E;
    --link-darken: #DC1C4C;
    --grey-text: #314858;
    --blue: #415CC3;
    --green: #7C935F;
}

html,
body {
    min-height: 100%;
}

html {
    font-size: 10px;
}

body {
    background-color: #0E1B21;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
}

img {
    max-width: 100%;
}

a {
    color: currentColor;
    transition: all .2s;
}

h1,
.h1 {
    font-size: 7rem;
}

h2,
.h2 {
    font-size: 6rem;
}

h3,
.h3 {
    font-size: 3rem;
}

.h4 {
    font-size: 2rem;
}

.font-900 {
    font-weight: 900;
}

.font-800 {
    font-weight: 800;
}

.font-700,
b,
strong {
    font-weight: 700;
}

p {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 180%;
    &:not(:last-child) {
        margin-bottom: 1.3em;
    }
    a {
        color: var(--blue);
        &:hover {
            color: currentColor
        }
    }
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.wrapper {}

.container {
    width: 100%;
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 10px;
    &--full {
        max-width: 95%;
    }
}

.main {}

.footer {}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.svg-sprite {
    display: none;
}

.social {
    li {
        &:not(:last-child) {
            margin-right: 6rem;
        }
        a {
            display: flex;
            align-items: center;
            font-weight: 700;
            .icon {
                margin-right: 1em;
                img {
                    width: 3rem;
                    height: 3rem;
                    object-fit: contain;
                }
            }
        }
    }
}

.yellow {
    color: var(--yellow);
}

.yellow--dark {
    color: var(--yellow-darken)
}

.pink {
    color: var(--pink);
}

.birusa {
    color: var(--birusa);
}

.title {
    font-size: 6rem;
    line-height: 1.3;
    margin-bottom: 0.25em;
    &--center {
        text-align: center;
    }
    .h2 {
        font-size: 1em;
    }
    .icon {
        display: inline-block;
        width: 1em;
        height: 1em;
        margin-bottom: 0.15em;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.top-screen {
    background: url('../img/bg/top-bg.jpg') 0 0 no-repeat;
    background-size: cover;
    font-size: 1rem;
    padding-top: 7em;
}

.top-screen__img {
    line-height: 0;
}

.about {
    padding: 8rem 0;
    background: #32210A url('../img/bg/brown_dark_pattern.jpg');
    &__descr {
        width: 45%;
    }
    &__img {
        width: 45%;
    }
}

.features-container {
    background: url(../img/bg/BG.svg) 0 0 no-repeat, url('../img/bg/features_money_bottom.png') 0 100% no-repeat;
    background-size: cover, contain;
    position: relative;
    &::before {
        content: '';
        width: 24rem;
        height: 73rem;
        background: url('../img/bg/pants.png') 0 0 no-repeat;
        background-size: contain;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
}

.why {
    padding: 8rem 0 6rem;
    .title {
        margin-bottom: 1.1em;
    }
}

.why-list {
    margin: 0 --2.2rem;
    li {
        width: 33.3333%;
        padding: 0 2.2rem;
    }
}

.why-list__item {
    height: 100%;
    position: relative;
    &::after {
        content: '';
        width: 93%;
        height: 100%;
        border-radius: 4rem;
        background: rgba(#2E8E8D, .5);
        position: absolute;
        left: 50%;
        top: -1.2rem;
        transform: translateX(-50%);
    }
    &--center {
        &::after {
            background-color: rgba(#B46F8E, .5);
        }
        .why-list__item__content {
            border-color: var(--pink);
        }
    }
    &--reward {
        &::before {
            content: '';
            width: 15rem;
            height: 10rem;
            background: url('../img/decor/coin_1.png') 0 0 no-repeat;
            background-size: contain;
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(45%, -45%);
            z-index: 2;
        }
    }
    &__img {
        line-height: 0;
        height: 55%;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: bottom;
        }
    }
    &__descr {
        height: 45%;
        background-color: #000;
        text-align: center;
        padding: 2rem 1.4rem;
        .h3 {
            font-size: 2.5rem;
            line-height: 130%;
            font-weight: 700;
            margin-bottom: 0.3em;
        }
        p {
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 150%;
        }
    }
}

.why-list__item__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 4rem;
    border: 1rem solid var(--birusa);
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.art {
    padding: 5rem 0;
    position: relative;
    &__descr {
        width: 45%;
    }
    &__accesories {
        width: 50%;
        &__list {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -5px 1rem;
            li {
                width: 25%;
                padding: 0 5px;
                margin-bottom: 1.5rem;
                position: relative;
                &:nth-child(even) {
                    top: 2rem;
                }
            }
            &__item {
                &__img {
                    position: relative;
                }
            }
        }
    }
}

.art-decor {
    position: absolute;
    top: 50%;
    width: 20rem;
    right: 2%;
    transform: translateY(-50%);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__first {
        transform: scale(.4);
        top: 15%;
    }
    &__second {
        transform: scale(.7) rotate(-55deg);
        top: 38%;
        left: 10rem;
    }
    &__third {
        transform: scale(.9);
        bottom: 17%;
    }
}

[class^='art-decor__'] {
    position: absolute;
}

.art__accesories__list__item__count {
    position: absolute;
    bottom: 17%;
    right: 19%;
    font-size: 2rem;
    font-weight: 700;
}

.art__accesories__notice {
    font-size: 12px;
    font-weight: 600;
    color: var(--grey-text);
    line-height: 150%;
    text-align: right;
}

.graphic {
    padding: 4rem 0 6rem;
    .title {
        margin-bottom: .5em;
    }
    &__left {
        width: 45%;
    }
    &__right {
        width: 47%;
        position: relative;
        line-height: 0;
        &::after {
            content: '';
            width: calc(100% + 1rem);
            height: 2rem;
            background: url('../img/decor/decor_line.png') center 100% no-repeat;
            position: absolute;
            background-size: contain;
            bottom: -.5rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.graphic__content {
    align-items: flex-end;
}

.about-token {
    padding: 5rem 0;
}

.about-token__content {
    border: 1rem solid var(--birusa);
    border-radius: 4rem;
    background: #000 url('../img/bg/token_bg.png') 100% 0 no-repeat;
    background-size: contain;
    padding: 10rem 4rem;
    &__left {
        width: 45%;
        position: relative;
        top: -1.5rem;
    }
    &__right {
        width: 50%;
        .h4 {
            margin-bottom: 1em
        }
    }
}

.about-token__content__list {
    li {
        display: flex;
        align-items: center;
        font-size: 2rem;
        line-height: 1.2;
        font-weight: 700;
        &:not(:last-child) {
            margin-bottom: 1.2em;
        }
        .icon {
            flex: none;
            width: 2em;
            height: 2em;
            margin-right: 1em;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

.bonus {
    &__item {
        width: calc(50% - 2.5rem);
        border: 1rem solid var(--pink);
        border-radius: 4rem;
        padding: 6rem 5rem 6rem;
        background-color: #000;
        background-position: 0 100%;
        background-size: contain;
        margin-bottom: 5rem;
        &:first-child {
            background-image: url('../img/bg/bonus_1.png');
        }
        &:last-child {
            background-image: url('../img/bg/bonus_2.png');
        }
        p {
            font-size: 1.5rem;
            font-weight: 600;
            color: #B1B1B1;
        }
    }
}

.enough {
    padding-bottom: 5rem;
}

.enough__content {
    padding: 7rem 5rem;
    border: 1rem solid var(--birusa);
    border-radius: 4rem;
    background-color: #000;
    .title {
        width: 47%;
    }
    p {
        width: 50%;
    }
}